.description {
    padding-right: 100px;
    float: right;
}
.ava {
    padding-left: 10px;
    width: 200px;
    height: 200px;
}
.profileStatus {
    padding-left: 10px;
    padding-bottom : 20px;
}