.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    padding: 10px;
}
.dialogItems .active {
    color: white;
}
.sendButton {
    padding-top: 10px;
}
.textarea {
    margin-top: 10px;
}
